<template>
  <div class="page">
    <header>
      <h1>
        <slot name='title'></slot>
      </h1>
      <h2>
        <slot name='subheading'></slot>
      </h2>
    </header>
    <main class="my-5 contents text-left">
      <slot></slot>
    </main>
  </div>
</template>
<style lang="scss" scoped>
  h1 {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .contents {
    font-size: 1rem;
  }

  @media (min-width: 768px) {
    h1{
      font-size: 3.5rem;
      font-weight: bold;
    }
    .contents{
      font-size: 1.25rem;
    }
  }
</style>
