<template>
  <div class="create">
    <h1>{{ $t('views.create.title') }}</h1>
    <h3>{{ $t('views.create.subheading') }}</h3>
    <b-form @submit.prevent="onSubmit" class="text-left mt-5">
      <b-form-group
        id="input-group-email"
        :label="$t('form_email')"
        label-for="email"
        required
        description="We'll never share your email with anyone else.">
        <b-form-input id="email" name="email" autocomplete="home email"
          v-model.trim="form.email"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-creator" :label="$t('form_creator')" label-for="creator">
        <b-form-input id="creator" name="creator" autocomplete="creator"
          v-model.trim="form.creator"
          required
          maxlength="20"></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-4">
        <b-form-checkbox-group v-model="form.options" id="checkboxes-4">
          <b-form-checkbox value="anonimous">{{ $t('form_is_anonimous') }}</b-form-checkbox>
          <b-form-checkbox value="feedback">{{ $t('form_wants_feedback') }}</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>

      <b-form-group id="input-group-acceptTerms">
        <b-form-checkbox size="lg" v-model="form.acceptTerms">
          <span v-html="$t('form_accepts_terms')"/>
        </b-form-checkbox>
      </b-form-group>

    </b-form>
    <b-button size='lg' variant="outline-dark" type="submit" :disabled="!isValid">
      {{ $t('actions.submit') }}
    </b-button>
    <pre>{{ form }}</pre>
  </div>
</template>

<i18n>
{
  "en": {
    "form_creator": "Your name *",
    "form_email": "A valid email address *",
    "form_email_description": "We'll never share your email with anyone else.",
    "form_is_anonimous": "I want to submit anonymously",
    "form_wants_feedback": "Email me my submission",
    "form_accepts_terms": "I accept the <a href='https://covidmemory.lu/terms'>Terms of Service</a>"
  }
}
</i18n>

<script>
// import Memory from '@/models/Memory';
// const request = require('axios')
export default {
  data: () => ({
    form: {

    },
  }),
  name: 'Create',
  computed: {
    isValid() {
      return this.form.state;
    },
  },
  methods: {
    async onSubmit() {
      console.info('submit!', this.memory);
      await this.$recaptchaLoaded();
      const token = await this.$recaptcha();
      // Do stuff with the received token.
      console.info('recaptcha', token);
    },
  },
};
</script>
