<template>
  <div style="border-bottom: 1px solid;" class="">
    <h1>{{ memory.title }}</h1>
    <h2>
      <span v-if="memory.hasPlace()">
        {{ memory.place }},
      </span>
      <span v-if="memory.hasDate()">
        {{
          $d(memory.getDate(), 'short')
        }}
      </span>
      <span v-if="memory.hasCreator()">
        &mdash;
        <span v-html="$t('createdBy', {
          creator: memory.creator,
        })" />
      </span>
    </h2>
    <p class="contents" v-if="memory.hasBasedNear()">
      <span v-html="memory.getFormattedBasedNear()"/>
    </p>
    <div v-if="firstMedia.type === 'video'">
      <video width="100%" controls Autoplay=autoplay>
        <source v-if="firstMedia.mimetype === 'video/quicktime'"
          :src="firstMedia.originalUrl"
          type="video/mp4">
      </video>
    </div>
    <figure v-else-if="firstMedia.type === 'image'" style="max-width: 500px; margin: 2rem auto">
      <div class="picture" :style="backgroundImage"></div>
    </figure>
    <figure v-else style="max-width: 500px; margin: 2rem auto">
      <div class="picture" :style="memory.getThumbnail('large')"></div>
    </figure>
    <!-- content -->
    <blockquote class="contents mb-5">{{ memory.content}}</blockquote>
    <!-- {{ firstMedia }} -->
  </div>
</template>

<script>
import Memory from '@/models/Memory';
import { items } from '@/services';

export default {
  data: () => ({
    memory: new Memory(),
  }),
  computed: {
    firstMedia() {
      return this.memory.getFirstMedia();
    },
    backgroundImage() {
      return {
        backgroundImage: `url(${this.firstMedia.getImageUrl()})`,
      };
    },
    memoryId() {
      return this.$route.params.id;
    },
  },
  head: {
    // To use "this" in the component, it is necessary to return the object through a function
    title() {
      return {
        inner: this.memory.title,
      };
    },
    meta() {
      return [
        { p: 'og:title', content: this.memory.title },
        { p: 'og:image', content: this.memory.getThumbnail('medium') },
        { p: 'og:type', content: 'article' },
        { p: 'og:description', content: this.memory.content },
        { p: 'og:site_name', content: 'Covidmemory' },
        { n: 'twitter:card', content: 'summary_large_image' },
        { n: 'twitter:url', content: 'covidmemory.lu' },
        { n: 'twitter:title', content: `Memory: "${this.memory.title}" by ${this.memory.creator}` },
        { n: 'twitter:description', content: this.memory.content },
        { n: 'twitter:image', content: this.memory.getThumbnail('medium') },
        { n: 'twitter:site', content: 'Covidmemory' },
        { n: 'twitter:creator', content: this.memory.creator },
      ];
    },
  },
  watch: {
    memoryId: {
      handler(id) {
        console.info('@watch', id);
        items.get(id).then((memory) => {
          console.info('done!', memory);
          this.memory = memory;
          this.$emit('updateHead');
        });
      },
      immediate: true,
    },
  },
};
</script>

<style lang="scss" scoped>
  .picture{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    /* background-color: #2980b9; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
</style>
