<template>
  <page>
    <template v-slot:title>
      <span v-html="$t('views.notFound.title')" />
    </template>
    <template v-slot:subheading>
      <span v-html="$t('views.notFound.subheading')" />
    </template>
  </page>
</template>

<script>
import Page from '@/components/views/Page.vue';

export default {
  components: {
    Page,
  },
};
</script>
