<template lang="html">
  <div ref="memoryBox" class="memoryBox"/>
</template>

<script>
import {
  Engine, World, Bodies, Render,
} from 'matter-js';

export default {
  mounted() {
    // create an engine
    const engine = Engine.create();

    // create a renderer
    const render = Render.create({
      element: this.$refs.memoryBox,
      engine,
      showAngleIndicator: true,
    });

    // create two boxes and a ground
    const boxA = Bodies.rectangle(400, 200, 80, 80);
    const boxB = Bodies.rectangle(450, 50, 80, 80);
    const ground = Bodies.rectangle(400, 610, 810, 60, { isStatic: true });

    // add all of the bodies to the world
    World.add(engine.world, [boxA, boxB, ground]);

    // run the engine
    Engine.run(engine);

    // run the renderer
    Render.run(render);
  },
},
</script>

<style lang="scss" scoped>
.memoryBox{
  height: 200px;
  width:100%;
  border: 1px solid black;
}
</style>
