<template>
  <b-navbar class="navbar-desktop">
    <b-navbar-brand>
      <div class='position-relative'>
        <a class="position-absolute c2dh-logo">
          <img src="../assets/c2dh-logo-inverted.svg"
            alt="Center for culturel"
            style="height:40px"
          />
        </a>
      </div>
      <router-link class="project-title" :to="{ name: 'Index' }">
        {{ $t('project.title') }}
      </router-link>
    </b-navbar-brand>
    <b-navbar-nav class="ml-auto">
      <b-nav-item :to="{ name: 'Index' }" exact>{{ $t('to.index') }}</b-nav-item>
      <b-nav-item :to="{ name: 'Intro' }">{{ $t('to.intro') }}</b-nav-item>
      <b-nav-item :to="{ name: 'Memories' }">{{ $t('to.memories') }}</b-nav-item>
      <b-nav-form>
        <b-button :href="formUrl" size='sm' variant="outline-dark">
          {{ $t('to.create') }}
        </b-button>
      </b-nav-form>
    </b-navbar-nav>
    <b-navbar-nav class="ml-auto">
      <b-nav-item-dropdown :text="$t('languages')" right>
        <b-dropdown-item v-for="(option, i) in langs" :key="i"
          :active="option === lang"
          @click="changeLanguage(option)">
          {{ $t(`lang.${option}`) }}
        </b-dropdown-item>
      </b-nav-item-dropdown>
      <b-nav-item :to="{ name: 'About' }">{{ $t('to.about') }}</b-nav-item>
      <b-nav-item :to="{ name: 'Terms' }">{{ $t('to.terms') }}</b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
export default {
  props: {
    langs: Array,
    // urrent Language
    lang: String,
    formUrl: String,
  },
  methods: {
    changeLanguage(lang) {
      this.$emit('change-language', lang);
    },
  },
};
</script>

<style lang="scss" scoped>
.navbar-desktop{
  .navbar-brand a.project-title {
    color: #2c3e50;
    font-size: 1rem;
    margin-left: 95px;
  }
  .navbar-brand a.c2dh-logo {
    top: -11px;
    left: 0;
  }
  .nav-link.router-link-active{
    color: #fe654f;
  }
}
</style>
